.dropdown-menu {
  display: flex;
  align-items: center;
}

.dropdown-menu nav {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  display: flex;
  align-items: center;
  animation: slideDown 0.3s linear both;
  -webkit-animation: slideDown 0.3s linear both;
}
.dropdown-menu nav a {
  color: #fff;
  margin-right: 3vw;
  font-size: calc(var(--font-size-small) + 0.4vw);
  font-weight: 500;
}

.dropdown-menu nav a:nth-last-of-type(4) {
  margin-left: 4%;
}

.dropdown-menu a:hover {
  cursor: pointer;
  color: var(--orange-ubuntu);
}

@keyframes slideDown {
  0% {
    opacity: 0;
    height: 0;
    width: 100vw;
    transform: all;
    -webkit-transform: all;
    -moz-transform: all;
    -ms-transform: all;
    -o-transform: all;
  }
  100% {
    opacity: 1;
    height: 5vh;
    width: 100vw;
    transform: all;
    -webkit-transform: all;
    -moz-transform: all;
    -ms-transform: all;
    -o-transform: all;
  }
}

/* reverse menu */
.dropdown-menu-reverse {
  display: flex;
  align-items: center;
}

.dropdown-menu-reverse nav {
  background-color: rgba(0, 0, 0, 0.3);
  height: 5vh;
  width: 55vw;

  /* css to get menu to slide back up */
  visibility: hidden;
  transition: all 0.3s;

  display: flex;
  align-items: center;
  animation: slideUp 0.3s linear both;
  -webkit-animation: slideUp 0.3s linear both;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.dropdown-menu-reverse nav a {
  color: #fff;
  margin-right: 3vw;
  font-size: calc(var(--font-size-small) + 0.4vw);
  font-weight: 500;
}

.dropdown-menu-reverse nav a:nth-last-of-type(4) {
  margin-left: 4%;
}

.dropdown-menu-reverse a:hover {
  cursor: pointer;
  color: var(--orange-ubuntu);
}

@keyframes slideUp {
  0% {
    opacity: 1;
    height: 5vh;
    width: 100vw;
    transform: all;
    -webkit-transform: all;
    -moz-transform: all;
    -ms-transform: all;
    -o-transform: all;
  }
  100% {
    opacity: 0;
    height: 0;
    width: 100vw;
    transform: all;
    -webkit-transform: all;
    -moz-transform: all;
    -ms-transform: all;
    -o-transform: all;
  }
}
