.menu-overlay {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  background: black;
  height: 100vh;
  width: 100vw;
  opacity: 0.5;
  display: flex;
  justify-content: flex-end;
  animation: appear;
  -webkit-animation: appear;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: opacity;
    -webkit-transform: opacity;
    -moz-transform: opacity;
    -ms-transform: opacity;
    -o-transform: opacity;
  }
  100% {
    opacity: 1;
    transform: opacity;
    -webkit-transform: opacity;
    -moz-transform: opacity;
    -ms-transform: opacity;
    -o-transform: opacity;
  }
}

.menu-close {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  background: black;
  height: 100vh;
  width: 100vw;
  opacity: 0.5;
  display: flex;
  justify-content: flex-end;
  visibility: hidden;
  animation-direction: reverse;
  animation: appear;
  -webkit-animation: appear;
}

@keyframes slider {
  0% {
    opacity: 0;
    transform: translateX(10%);
    -webkit-transform: translateX(10%);
    -moz-transform: translateX(10%);
    -ms-transform: translateX(10%);
    -o-transform: translateX(10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}

.menu-links a:nth-child(1) {
  animation: 0.4s slider 0.1s linear both;
  -webkit-animation: 0.4s slider 0.1s linear both;
}
.menu-links a:nth-child(2) {
  animation: 0.4s slider 0.2s linear both;
  -webkit-animation: 0.4s slider 0.2s linear both;
}
.menu-links a:nth-child(3) {
  animation: 0.4s slider 0.3s linear both;
  -webkit-animation: 0.4s slider 0.3s linear both;
}
.menu-links a:nth-child(4) {
  animation: 0.4s slider 0.4s linear both;
  -webkit-animation: 0.4s slider 0.4s linear both;
}

/* hide scrollbar */
.menu-links::-webkit-scrollbar {
  display: none;
}

.menu-close2 {
  position: fixed;
  opacity: 0;
  transition: opacity 1s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  right: 0;
  z-index: 3;
  height: 100vh;
  width: 25vw;
  background-color: var(--main-color);
  box-shadow: 0 0 2vw 0.2vw var(--orange-ubuntu);
  animation: slideOut 0.2s linear both;
  -webkit-animation: slideOut 0.2s linear both;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
}

@keyframes slideOut {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  100% {
    transform: translateX(110%);
    -webkit-transform: translateX(110%);
    -moz-transform: translateX(110%);
    -ms-transform: translateX(110%);
    -o-transform: translateX(110%);
  }
}

.menu-links {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  right: 0;
  z-index: 3;
  height: 100vh;
  width: 25vw;
  background-color: var(--main-color);
  box-shadow: 0 0 2vw 0.2vw var(--orange-ubuntu);
  animation: slide 0.2s linear both;
  -webkit-animation: slide 0.2s linear both;
  overflow-y: auto;
  overflow-x: hidden;
}

@keyframes slide {
  0% {
    visibility: hidden;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}

.options {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  color: #fff;
  font-size: calc(var(--font-size-smaller) + 1.7vw);
  margin-left: 10%;
  padding-top: 20%;
}

.options a {
  color: #fff;
  height: max-content;
  width: 80%;
}

.options a:hover {
  cursor: pointer;
  color: rgb(200, 200, 200);
}

.arrow {
  margin-left: 5%;
  margin-top: 8%;
  border: solid var(--green-paste);
  border-width: 0 calc(var(--font-size-smallest) + 0.2vw)
    calc(var(--font-size-smallest) + 0.2vw) 0;
  display: inline-block;
  padding: 2%;
}

.arrow:hover {
  cursor: pointer;
  scale: 1.1;
  transition: scale ease-in-out 0.1s;
  -webkit-transition: scale ease-in-out 0.1s;
  -moz-transition: scale ease-in-out 0.1s;
  -ms-transition: scale ease-in-out 0.1s;
  -o-transition: scale ease-in-out 0.1s;
}

.left {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.by {
  padding-bottom: 4%;
  display: flex;
  justify-content: flex-end;
  padding-right: 8%;
  color: var(--alt-font-color);
  font-size: calc(var(--font-size-smallest) + 0.5vw);
}

.options hr {
  width: 80%;
  border-top: 1px solid;
  border-color: #e95420;
  margin-left: 0;
}

@media (max-width: 600px) {
  .menu-links {
    width: 100vw;
  }
  .menu-close2 {
    width: 100vw;
  }
  .options {
    font-size: calc(var(--font-size-large) + 3.2vw);
  }
}
