
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light;
  --text-color: #213547;
  --background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}

:root {
  --purple: #646cff;
  --yellow: #f7bf00;
  --dark_yellow: #84680c;
  --dark_blue: rgb(10, 34, 56);
}

.dark {
  color-scheme: dark;
  --text-color: #ffffff;
  --background-color: #213547;
}

body {
  font-size: 1.6rem;
  font-weight: 500;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
}

.no-scroll {
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.menu_spacer {
  height: 10rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  line-height: 1;
}

p {
  line-height: 1.3;
}

h1 {
  font-size: clamp(3.7rem, 0.91vi + 3.34rem, 4.5rem);
}

h2 {
  font-size: clamp(2.2rem, 0.23vi + 2.11rem, 2.4rem);
}

#root {
  width: 100%;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.max_width {
  width: calc(100% - clamp(4rem, 2.27vi + 3.09rem, 6rem));
  margin: 0 auto;
  max-width: 93.75rem; 
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.wordpressIcon path {
  transition: fill .3s ease;
}

.dark .wordpressIcon path {
  fill: lightgray;
}

